body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 10px;
}

.container {
    width: 90%;
    max-width: 500px;
}

.header_text {
    font-size: 2.5em;
    color: #d32f2f;
}

/* Đảm bảo ảnh không bị tràn trên mobile */
.gif_container img {
    width: 100%; 
    max-width: 400px; 
    height: auto;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 480px) {
    .header_text {
        font-size: 1em;
    }

    .gif_container img {
        max-width: 300px; 
    }
}
